<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
        <div class="box">
            <div class="cabecalho">
                <h2 id="text-menu">Adicione Uma Cidade Para Saber A Temperatura</h2>
            </div>
            <div class="new-container">
                <h2>Isso é um novo container</h2>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>